/************************************************

Stylesheet: Custom layout

*************************************************/

/**
 * Site header
 */
.site-header {

}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {

    }
}


/**
 * Site footer
 */
.site-footer {

}

.footer-heading {

}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {

    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;


}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;


    }

    h3 {
        font-size: 26px;


    }

    h4 {
        font-size: 20px;

    }
}

/*
 * Nav
 */

.c-nav {
    background-color: $grey-color-light;
}

/*
 * Page Header
 */

.header {
    text-align: center;
    padding-bottom: 2em;
    color: #fff;
    background-color: $grey-color-light;
}

.header .header__row {
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}

.header--primary {
    padding-top: 2em;
    color: #2c3e50;
}

.header--secondary {
    font-size: 0.9em;
    padding: 2em 0 4em;
    background-color: #42A5F5;
}

.header--secondary .grid__cell {
    padding: 1em;
}

.header--inverted {
    background-color: #222;
}

.header--white {
    color: inherit;
    background-color: #fff;
}

.logo .o-image {
    display: inline-block;
    width: 200px;
}

.product-name {
    font-size: 3.5em;
    font-weight: bold;
}

@media (min-width: 42em) {
    .product-name {
        font-size: 5em;
    }
}

.product-name span {
    font-weight: normal;
}

.hero-button {
    letter-spacing: 4px;
}

