

// -------------------------- */
//  #Trumps for display
// -------------------------- */

.c-nav {
    background-color: $grey-color-light;
}

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.product-name {
    font-size: 3.5em;
    font-weight: bold;
}

@media (min-width: 42em) {
    .product-name {
        font-size: 5em;
    }
}

.product-name span {
    font-weight: normal;
}

.hero-button {
    letter-spacing: 4px;
}

