/************************************************

Stylesheet: Utilities


*************************************************/


$base-space-unit: 1em;

// Top margin
.u-mt0   { margin-top: 0; }
.mt-quarter { margin-top: $base-space-unit / 4; }
.mt-half    { margin-top: $base-space-unit / 2; }
.mt-one     { margin-top: $base-space-unit; }
.mt-two     { margin-top: $base-space-unit * 2; }


// bottom margin
.u-mb0   { margin-top: 0; }
.mb-quarter { margin-bottom: $base-space-unit / 4; }
.mb-half    { margin-bottom: $base-space-unit / 2; }
.mb-one     { margin-bottom: $base-space-unit; }
.mb-two     { margin-bottom: $base-space-unit * 2; }


// Right margin
.u-mr0   { margin-top: 0; }
.mr-quarter { margin-right: $base-space-unit / 4; }
.mr-half    { margin-right: $base-space-unit / 2; }
.mr-one     { margin-right: $base-space-unit; }
.mr-two     { margin-right: $base-space-unit * 2; }


// Left margin
.u-mr0   { margin-top: 0; }
.ml-quarter { margin-left: $base-space-unit / 4; }
.ml-half    { margin-left: $base-space-unit / 2; }
.ml-one     { margin-left: $base-space-unit; }
.ml-two     { margin-left: $base-space-unit * 2; }


// no padding

.u-pl0 {padding-left:0;}
.u-pr0 {padding-right:0;}
.u-pt0 {padding-top:0;}
.u-pb0 {padding-bottom:0;}


// Top padding
.u-pt-quarter       {  padding-top: $base-space-unit / 4; }
.u-pt-half          {  padding-top: $base-space-unit / 2; }
.u-pt-one           {  padding-top: $base-space-unit; }
.u-pt-two           {  padding-top: $base-space-unit * 2;}



// Right padding
.u-pr-quarter       {  padding-right: $base-space-unit / 4; }
.u-pr-half          {  padding-right: $base-space-unit / 2; }
.u-pr-one           {  padding-right: $base-space-unit; }
.u-pr-two           {  padding-right: $base-space-unit * 2;}


// Left padding
.u-pl-quarter       {  padding-left: $base-space-unit / 4; }
.u-pl-half          {  padding-left: $base-space-unit / 2; }
.u-pl-one           {  padding-left: $base-space-unit; }
.u-pl-two           {  padding-left: $base-space-unit * 2;}


// Bottom padding
.u-pb-quarter       {  padding-bottom: $base-space-unit / 4; }
.u-pb-half          {  padding-bottom: $base-space-unit / 2; }
.u-pb-one           {  padding-bottom: $base-space-unit; }
.u-pb-two           {  padding-bottom: $base-space-unit * 2;}

// center image

.u-c-image {
display:block;
margin: auto;
}


.mobile-hide {

    @include screen--xsmall-and-up {
        display:none;
    }
    @include screen--medium-and-up {
        display: block;
    }

}

.mobile-show {

    @include screen--xsmall-and-up {
        display:block;
    }
    @include screen--medium-and-up {
        display: none;
    }

}