
<footer class="o-container--site-footer">
    <div class="o-container o-container--super">
        <h2 class="footer-heading">This is a 3 column footer</h2>
        <div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
            <div class="o-grid__cell o-grid__cell--no-gutter">
                <ul class="contact-list">
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>
            <div class="o-grid__cell">
                <ul class="social-media-list">
                    {% if site.github_username %}
                        <li>
                            {% include icon-github.html username=site.github_username %}
                        </li>
                    {% endif %}
                    {% if site.twitter_username %}
                        <li>
                            {% include icon-twitter.html username=site.twitter_username %}
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="o-grid__cell">
                <p>{{ site.description }}</p>
            </div>
        </div>
    </div>
</footer>