<!-- begin head section -->
<header>
    <div class="o-container o-container--super">
        <nav class="c-nav c-nav--inline clearfix">
            <span class="c-nav__item" onclick="history.back()">Home</span>
            {% for my_page in site.pages %}
                {% if my_page.title %}
                <span class="c-nav__item">
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                </span>
                {% endif %}
            {% endfor %}
            <span class="c-nav__item c-nav__item--right">About</span>
        </nav>
    </div>
</header>
<!-- end head section -->

